/* Minhas cores
#000
#222
#333
#444
#555
#666
#888
#999
#AAA
#BBB
#CCC
#DDD
#FFF
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #BBB;
}

/* Carrossel */
.carrossel {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #000;
}

.slides {
  display: flex;
  width: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  height: 200px;
  color: darkgoldenrod;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s1 {
    background: #FFF; 
}

.s2 {
     background: #333; 
}

.s3 { 
    background: #000; 
}

.navegacao {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.navegacao label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: darkgoldenrod;
    cursor: pointer;
    transition: 0.3s;
}

input[type="radio"] {
  display: none;
}

#slide1:checked ~ .slides {
  transform: translateX(0%);
}

#slide2:checked ~ .slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

.navegacao label:hover {
  background: darkblue;
}
/* Fim do Carrossel */


/* Menu */
.menu {
  background-color: #333;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #555;
}
 /* Fim do carrossel */